<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="bookmarkFragment">
          <link rel="stylesheet" type="text/css" th:href="@{/css/00_GV-bookmark-00.css}">
          <!-- 즐겨찾기 검색 -->
          <table class="bookmark" th:if="${memberDTO.id != null}">
            <tbody>
            <tr>
              <td class="bookmark-srh">&nbsp;&emsp;<i class="fas fa-search"></i> 즐겨찾기 검색</td>
              <td class="bookmark-keyword">

                <div class="container1">

                  <div class="checkbox" th:each="entry : ${favVoiceTypesMap.entrySet()}">
                    <input type="checkbox" th:id="${entry.key}" th:name="${entry.key}">
                    <label th:for="${entry.key}" th:text="${entry.value}"></label>
                  </div>

                </div>

              </td>
              <td><button class="bookmark-button"><i class="fas fa-angle-right"></i>&nbsp;검색</button></td>
            </tr>
            </tbody>
          </table>
          <script src="/js/1.2_dropdown.js"></script>
    </th:block>
</body>
</html>