<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>겟보이스_즐겨찾기 목록</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/12.2_GV-F-Fav-12.2.css}">
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script> 
    </head>


    <body>

                <!-- 구인글 작성 부분 -->
        <div class="container">
            <div class="header">즐겨찾기 목록</div>
            <form name="fo" method="get">   
                <div class="upload">
                    <form name="fo" method="get">
   
                        <table class="tableB">
                            <!-- 거래내역1 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex4.jpg" alt="Profile Image" class="rounded-profile"></div>
                                </td>
                                <td>
                                    <div class="nickname">성우지망</div> 
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">채팅</button>
                                    </a>
                                </td>
                              </tr>

                              <!-- 거래내역2 -->
                              <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex3.jpg" alt="Profile Image" class="rounded-profile">
                                   </div>
                                </td>
                                <td>
                                    <div class="nickname">목솔이</div> 
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">채팅</button>
                                    </a>
                                </td>
                              </tr>

                            <!-- 거래내역3 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex2.jpg" alt="Profile Image" class="rounded-profile">
                                    </div>
                                </td>
                                <td>
                                    <div class="nickname">한신다큐</div> 
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">채팅</button>
                                    </a>
                                </td>
                              </tr>

                              <!-- 거래내역4 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex.jpg" alt="Profile Image" class="rounded-profile">
                                    </div>
                                </td>
                                <td>
                                    <div class="nickname">신동화</div> 
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">채팅</button>
                                    </a>
                                </td>
                              </tr>

                            <!-- 거래내역5 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                    </div>
                                </td>
                                <td>
                                    <div class="nickname">노래</div> 
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">채팅</button>
                                    </a>
                                </td>
                              </tr>

                              <!-- 거래내역6 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                    </div>
                                </td>
                                <td>
                                    <div class="nickname">교육육교</div> 
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">채팅</button>
                                    </a>
                                </td>
                              </tr>
                        </table>
                    </form>
                </div>
                
             </form>
    
        </div> 
        

        <footer>
        </footer>
    </body>
    <script src="/js/modal_window.js"></script>
    <script src="/js/1.2_dropdown.js"></script>
</html>