<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>겟보이스</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/12.3_GV-F-ReviewDtl-12.3.css}">
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script> 
    </head>

    <body>
        <div class="container">
            <span class="close">&times;</span>
            <div class="header">내가 작성한 리뷰</div>
                <div class="upload">
                        <table class="tableB">
                            <!-- 거래내역1 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">일네임
                                            
                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- <div class="star-rating"></div>
                                                <div class="star-rating"></div> -->
                                                <!-- 비어있는 별 -->
                                                <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div>

                                                <div class="date">&nbsp;| 2023.12.03</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    마감기한을 넘겨서 곤란했지만 멋진 퀄리티의 작업을 마칠 수 있었습니다!
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">수정</button>
                                    </a>
                                    <a href="">
                                        <button class="get-voice-button">삭제</button>
                                    </a>
                                </td>
                              </tr>

                              <!-- 거래내역2 -->
                              <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex2.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">이네임
                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.10.20</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    빠른 답변과 퀄리티 있는 보이스가 항상 찾게 됩니다.<br>다시한번 감사드리며 또 찾아오겠습니다.
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">수정</button>
                                    </a>
                                    <a href="">
                                        <button class="get-voice-button">삭제</button>
                                    </a>
                                </td>
                              </tr>

                            <!-- 거래내역3 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex3.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">삼네임

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <div class="star-rating-empty"></div>

                                                <div class="date">&nbsp;| 2023.08.25</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    와 너무 전문가십니다.<br>그리고 대응도 너무 친절하고 빠르십니다.<br>이분 보통 분이 아닙니다!
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">수정</button>
                                    </a>
                                    <a href="">
                                        <button class="get-voice-button">삭제</button>
                                    </a>
                                </td>
                              </tr>

                              <!-- 거래내역4 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex4.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">사네임

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.07.18</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    급하게 무리한 일정으로 요청드렸는데도 친절하게 응해주시고 무엇보다 빠르고 고퀄인 아웃풋 주셔서 감사합니다:D
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">수정</button>
                                    </a>
                                    <a href="">
                                        <button class="get-voice-button">삭제</button>
                                    </a>
                                </td>
                              </tr>

                            <!-- 거래내역5 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">오네임

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div>

                                                <div class="date">&nbsp;| 2023.05.12</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    늘 좋은 목소리! 최고입니다~~
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">수정</button>
                                    </a>
                                    <a href="">
                                        <button class="get-voice-button">삭제</button>
                                    </a>
                                </td>
                              </tr>

                              <!-- 거래내역6 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">육네임

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.03.07</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    성우님 진~~~짜 너무너무너무너무 친절하시고 퀄리티도 진짜 대박이에용!!<br>다음 작업도 함께 진행할 기회가 있으면 좋겠습니다~ ㅎㅎㅎ
                                </td>
                                <td class="detail3">
                                    <a href="">
                                        <button class="get-voice-button">수정</button>
                                    </a>
                                    <a href="">
                                        <button class="get-voice-button">삭제</button>
                                    </a>
                                </td>
                              </tr>
                        </table>

                </div>
                

    
        </div> 
        

        <footer>
        </footer>
    </body>
    <script src="/js/modal_window.js"></script>
    <script src="/js/1.2_dropdown.js"></script>
</html>