<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <title>겟보이스-구인자_거래내역</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/17.0_GV-F-CTTH-17.0.css}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
            <th:block th:replace="fragments/00_GV-header-00 :: headerFragment"></th:block>
            <th:block th:replace="fragments/00_GV-breadcrumb-00 :: breadcrumbCtBoardFragment"></th:block>
                  

                <!-- 거래내역 부분 -->
                <div class="notandum">※ 거래의 명백한 문제가 있어 취소를 원하는 경우, 1:1 문의 부탁드립니다.</div>
                
                <div class="upload">
                        <table class="tableB">
                            <tr>
                                <td>
                                    거래자
                                </td>
                                <td>
                                  거래내역
                                </td>
                                <td>
                                    작업상황
                                </td>
                                <td>  
                                </td>
                            </tr>

                            <div th:each="ctReviewDTO : ${reviewDTOList}" style="display: none;">
                                <button class="ctReviewId" th:attr="review-id=${ctReviewDTO.id}" style="display: none;">버튼</button>
                            </div>

                            <!-- 거래내역1 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">일네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                  거래날짜: 2023.12.25<br>
                                  거래금액: 50,000원
                                </td>
                                <td class="state">
                                    작업완료
                                </td>
                                <td>
                                        <button class="get-voice-button">거래확정</button>
                                        <button id="1" class="get-voice-button review-button" onclick="showPopupPrkw13();">리뷰하기</button>
                                        <button class="get-voice-button">채팅</button>
                                </td>
                              </tr>

                              <!-- 거래내역2 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">이네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                  거래날짜: 2023.11.08<br>
                                  거래금액: 120,000원
                                </td>
                                <td class="state">
                                    진행중
                                </td>
                                <td>
                                        <button class="get-voice-button">거래확정</button>
                                        <button id="2" class="get-voice-button review-button" onclick="showPopupPrkw13();">리뷰하기</button>
                                        <button class="get-voice-button">채팅</button>
                                </td>
                              </tr>
                        

                            <!-- 거래내역3 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">삼네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                거래날짜: 2023.10.15<br>
                                거래금액: 36,500원
                                </td>
                                <td class="state">
                                    진행중
                                </td>
                                <td>
                                        <button class="get-voice-button">거래확정</button>
                                        <button id="3" class="get-voice-button review-button" onclick="showPopupPrkw13();">리뷰하기</button>
                                        <button class="get-voice-button">채팅</button>
                                </td>
                            </tr>

                            <!-- 거래내역4 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">사네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                거래날짜: 2023.09.23<br>
                                거래금액: 517,000원
                                </td>
                                <td class="state">
                                    작업완료
                                </td>
                                <td>
                                    <button class="button2">거래확정</button>
                                    <button id="4" class="get-voice-button review-button" onclick="showPopupPrkw13();">리뷰하기</button>
                                    <button class="get-voice-button">채팅</button>
                                </td>
                            </tr>

                            <!-- 거래내역5 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">오네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                거래날짜: 2023.08.31<br>
                                거래금액: 70,000원
                                </td>
                                <td class="state">
                                    거래완료
                                </td>
                                <td>
                                        <button class="button2">거래확정</button>
                                        <button id="5" class="get-voice-button review-button" onclick="showPopupPrkw13();">리뷰하기</button>
                                        <button class="get-voice-button">채팅</button>
                                </td>
                            </tr>

                        </table>
                </div>
                
                <!-- 여기까지가 구인글 작성 부분 -->

            <th:block th:replace="fragments/00_GV-footer-00 :: footerFragment"></th:block>
    </body>

<script th:src="@{/js/17.0_ct-review.js}"></script>
</html>




  

