<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <title>겟보이스-거래내역</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/18.0_GV-F-VATH-18.css}">
    </head>
        

    <body>
        <th:block th:replace="fragments/00_GV-header-00 :: headerFragment"></th:block>
        <th:block th:replace="fragments/00_GV-breadcrumb-00 :: breadcrumbCtBoardFragment"></th:block>

                  

                <!-- 거래내역 부분 -->
                <div class="upload">
                        <table class="tableB">
                            <tr>
                                <td>
                                    거래자
                                </td>
                                <td>
                                  거래내역
                                </td>
                                <td>
                                    작업상황
                                </td>
                                <td>
                                    확정여부
                                </td>
                                <td>  
                                </td>
                            </tr>

                            <!-- 거래내역1 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">일네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                  거래날짜: 2023.12.25<br>
                                  거래금액: 50,000원
                                </td>
                                <td class="state">
                                    진행중
                                </td>
                                <td class="state">
                                    미확정
                                </td>
                                <td>
                                        <button class="get-voice-button" onclick="showPopupPrkw6();">매너평가</button>
                                        <button class="get-voice-button" onclick="showPopupChat()">채팅</button>
                                </td>
                              </tr>

                            <!-- 거래내역2 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">이네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                    거래날짜: 2023.11.08<br>
                                    거래금액: 120,000원
                                </td>
                                <td class="state">
                                    작업완료
                                </td>
                                <td class="stateA">
                                    확정
                                </td>
                                <td>
                                    <button class="get-voice-button" onclick="showPopupPrkw6();">매너평가</button>
                                    <button class="get-voice-button" onclick="showPopupChat()">채팅</button>
                                </td>
                              </tr>

                              <!-- 거래내역3 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">삼네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                    거래날짜: 2023.10.15<br>
                                    거래금액: 36,500원
                                </td>
                                <td class="state">
                                    진행중
                                </td>
                                <td class="state">
                                    미확정
                                </td>
                                <td>
                                    <button class="get-voice-button" onclick="showPopupPrkw6();">매너평가</button>
                                    <button class="get-voice-button" onclick="showPopupChat()">채팅</button>
                                </td>
                              </tr>

                              <!-- 거래내역4 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">사네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                    거래날짜: 2023.09.23<br>
                                    거래금액: 517,000원
                                </td>
                                <td class="state">
                                    진행중
                                </td>
                                <td class="state">
                                    미확정
                                </td>
                                <td>
                                    <button class="get-voice-button" onclick="showPopupPrkw6();">평가수정</button>
                                    <button class="get-voice-button" onclick="showPopupChat()">채팅</button>
                                </td>
                              </tr>

                              <!-- 거래내역5 -->
                            <tr class="tdP">
                                <td>
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">오네임</div>
                                    </div>
                                </td>
                                <td class="deal">
                                    거래날짜: 2023.08.31<br>
                                    거래금액: 70,000원
                                </td>
                                <td class="state">
                                    작업완료
                                </td>
                                <td class="stateA">
                                    확정
                                </td>
                                <td>
                                    <button class="get-voice-button" onclick="showPopupPrkw6();">평가수정</button>
                                    <button class="get-voice-button" onclick="showPopupChat()">채팅</button>
                                </td>
                              </tr>

                        </table>
                <!-- 여기까지가 구인글 작성 부분 -->
                </div>
    </body>
    <th:block th:replace="fragments/00_GV-footer-00 :: footerFragment"></th:block>
<script>
    function showPopupChat() { window.open("/popup/chat/14.0_GV-F-Chat-14", "채팅", "width=420, height=720, left=100, top=50"); }
    function showPopupPrkw6() { window.open("18.1_GV-F-CTEval-18.1", "매너평가", "width=500, height=230, left=100, top=50"); }
</script>
</html>




  

