<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
      <title>겟보이스-내가_올린글</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/7.0_GV-F-CTboard-7.0.css}">
</head>
  
      <body>

          <th:block th:replace="fragments/00_GV-header-00 :: headerFragment"></th:block>
          <th:block th:replace="fragments/00_GV-breadcrumb-00 :: breadcrumbCtBoardFragment"></th:block>
          <th:block th:replace="fragments/00_GV-category-00 :: categoryFragment"></th:block>


          <!-- 구인글 시작 -->
          <div class="board">
            <ul class="project-list">
              <!-- 구인글 1 -->
              <li class="project-item">
                <div class="user-profile">
                  <div class="profile-info">
                    <a href=""><img src="/img/p1.jpg" alt="프로필 이미지"></a>
                    <div class="user-nickname"><a href="">도에라몽</a></div>
                  </div>
                  <div class="rating">
                    <i class="fas fa-star"></i> 5.0
                    <span class="review-count">(13개의 평가)</span>
                  </div>

                </div>
                <h3><a href="">어린이 동화 구연을 해주실 수 있는 분 구합니다.</a></h3>
                <div class="post-header">
                  <div class="project-info">
                    <span><i class="fas fa-won-sign fa-lg"></i>&nbsp;75,000</span>
                    <span><i class="far fa-calendar-alt fa-lg"></i>&nbsp;24.01.10</span>
                    <span><i class="fas fa-tag"></i>&nbsp;영리</span>
                    <span><i class="fas fa-folder fa-lg"></i>&nbsp;동화</span>
                    <span><i class="fas fa-building fa-lg"></i>&nbsp;교육채널HS</span>
                  </div>
                  <div class="item-details">
                    <div class="price-info-ok">
                      <i class="fas fa-circle"></i> 구인중
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <span>2023.11.28</span>
                  <span class="keywords"><a href="">동화</a></span>
                  <span class="keywords"><a href="">더빙</a></span>
                  <span class="keywords"><a href="">소녀</a></span>
                  <span class="keywords"><a href="">차분한</a></span>
                  <span class="keywords"><a href="">청순한</a></span>
                </div>
              </li>

              <!-- 구인글 2 -->
              <li class="project-item">
                <div class="user-profile">
                  <div class="profile-info">
                    <a href=""><img src="/img/p2.jpg" alt="프로필 이미지"></a>
                    <div class="user-nickname"><a href="">멍냥</a></div>
                  </div>
                  <div class="rating">
                    <i class="fas fa-star"></i> 4.9
                    <span class="review-count">(2개의 평가)</span>
                  </div>
                </div>
                <h3><a href="">활기찬 소년 연기를 해주실 수 있는 분 구합니다.</a></h3>
                <div class="post-header">
                  <div class="project-info">
                    <span><i class="fas fa-won-sign fa-lg"></i>&nbsp;42,000</span>
                    <span><i class="far fa-calendar-alt fa-lg"></i>&nbsp;23.12.29</span>
                    <span><i class="fas fa-tag"></i>&nbsp;비영리</span>
                    <span><i class="fas fa-folder fa-lg"></i>&nbsp;광고</span>
                    <span><i class="fas fa-building fa-lg"></i>&nbsp;경기유기견보호센터</span>
                  </div>
                  <div class="item-details">
                    <div class="price-info-ok">
                      <i class="fas fa-circle"></i> 구인중
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <span>2023.12.05</span>
                  <span class="keywords"><a href="">광고</a></span>
                  <span class="keywords"><a href="">ARS</a></span>
                  <span class="keywords"><a href="">소년</a></span>
                  <span class="keywords"><a href="">귀여운</a></span>
                  <span class="keywords"><a href="">외국어</a></span>
                </div>
              </li>

              <!-- 구인글 3 -->
              <li class="project-item">
                <div class="user-profile">
                  <div class="profile-info">
                    <a href=""><img src="/img/p3.jpg" alt="프로필 이미지"></a>
                    <div class="user-nickname"><a href="">이무</a></div>
                  </div>
                  <div class="rating">
                    <i class="fas fa-star"></i> 4.7
                    <span class="review-count">(29개의 평가)</span>
                  </div>
                </div>
                <h3><a href="">강인한 성인 남성 연기를 해주실 수 있는 분 구해요.</a></h3>
                <div class="post-header">
                  <div class="project-info">
                    <span><i class="fas fa-won-sign fa-lg"></i>&nbsp;120,000</span>
                    <span><i class="far fa-calendar-alt fa-lg"></i>&nbsp;23.12.22</span>
                    <span><i class="fas fa-tag"></i>&nbsp;영리</span>
                    <span><i class="fas fa-folder fa-lg"></i>&nbsp;게임</span>
                    <span><i class="fas fa-building fa-lg"></i>&nbsp;애드*리브</span>
                  </div>
                  <div class="item-details">
                    <div class="price-info-no">
                      <i class="fas fa-square square-icon"></i> 구인완료
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <span>2023.11.07</span>
                  <span class="keywords"><a href="">게임</a></span>
                  <span class="keywords"><a href="">노래</a></span>
                  <span class="keywords"><a href="">남성</a></span>
                  <span class="keywords"><a href="">허스키</a></span>
                  <span class="keywords"><a href="">열혈</a></span>
                </div>
              </li>

              <!-- 구인글 4 -->
              <li class="project-item">
                <div class="user-profile">
                  <div class="profile-info">
                    <a href=""><img src="/img/profile_ex3.jpg" alt="프로필 이미지"></a>
                    <div class="user-nickname"><a href="">졸작생</a></div>
                  </div>
                  <div class="rating">
                    <i class="fas fa-star"></i> 4.5
                    <span class="review-count">(9개의 평가)</span>
                  </div>
                </div>
                <h3><a href="">활기찬 소년 목소리로 나레이션 해주실 분 구해요</a></h3>
                <div class="post-header">
                  <div class="project-info">
                    <span><i class="fas fa-won-sign fa-lg"></i>&nbsp;90,000</span>
                    <span><i class="far fa-calendar-alt fa-lg"></i>&nbsp;23.12.22</span>
                    <span><i class="fas fa-tag"></i>&nbsp;영리</span>
                    <span><i class="fas fa-folder fa-lg"></i>&nbsp;나레이션</span>
                    <span><i class="fas fa-building fa-lg"></i> 한신대학교</span>
                  </div>
                  <div class="item-details">
                    <div class="price-info-ok">
                      <i class="fas fa-circle"></i> 구인중
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <span>2023.11.07</span>
                  <span class="keywords"><a href="">내레이션</a></span>
                  <span class="keywords"><a href="">광고</a></span>
                  <span class="keywords"><a href="">소년</a></span>
                  <span class="keywords"><a href="">활기찬</a></span>
                  <span class="keywords"><a href="">열혈</a></span>
                </div>
              </li>

              <!-- 구인글 5 -->
              <li class="project-item">
                <div class="user-profile">
                  <div class="profile-info">
                    <a href=""><img src="/img/profile_ex2.jpg" alt="프로필 이미지"></a>
                    <div class="user-nickname"><a href="">루루</a></div>
                  </div>
                  <div class="rating">
                    <i class="fas fa-star"></i> 4.8
                    <span class="review-count">(504개의 평가)</span>
                  </div>
                </div>
                <h3><a href="">귀여운 소녀 캐릭터의 목소리를 맡아주실 분을 찾습니다.</a></h3>
                <div class="post-header">
                  <div class="project-info">
                    <span><i class="fas fa-won-sign fa-lg"></i>&nbsp;550,000</span>
                    <span><i class="far fa-calendar-alt fa-lg"></i>&nbsp;23.12.22</span>
                    <span><i class="fas fa-tag"></i>&nbsp;영리</span>
                    <span><i class="fas fa-folder fa-lg"></i>&nbsp;게임</span>
                    <span><i class="fas fa-building fa-lg"></i>&nbsp;루루게임즈</span>
                  </div>
                  <div class="item-details">
                    <div class="price-info-ok">
                      <i class="fas fa-circle"></i> 구인중
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <span>2023.11.07</span>
                  <span class="keywords"><a href="">게임</a></span>
                  <span class="keywords"><a href="">노래</a></span>
                  <span class="keywords"><a href="">소녀</a></span>
                  <span class="keywords"><a href="">귀여운</a></span>
                  <span class="keywords"><a href="">가련한</a></span>
                </div>
              </li>

              <!-- 추가적인 게시물들 -->
            </ul>
          </div>

          <th:block th:replace="fragments/00_GV-footer-00 :: footerFragment"></th:block>

  </body>
  <script src="/js/modal_window.js"></script>
  <script src="/js/1.2_dropdown.js"></script>
  <script src="/js/00_goToNewPage.js"></script>
</html>