  /* 헤더 스타일 */
  @font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 카테고리 부분 시작*/
 table.cate {
    margin-top: 10px;
    border-spacing: 0;
    border: 0px #577D86;
    width: 100%;
    text-align: center;
    font-family: 'S-CoreDream-5Medium';
    color:#526D82;
    }

table.cate td {
    border: 1px solid #577D86;
    padding: 8px;
    border-left: none;
    border-right: none;
}

.dropdown {
    position: relative;
    width: 150px;

  }

.dropdown-button {
    cursor: pointer;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
  }

.dropdown-content a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content label {
    font-family: 'S-CoreDream-4Regular';
    display: block;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px 0;
}

table.cate { border-collapse : collapse; }  /*이중선 제거*/




  .dropdown-content {  /* 드롭다운 내용 스타일 */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a { /* 드롭다운 내용 링크 스타일 */
    color: #27374D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover { /* 드롭다운 내용 링크 호버 스타일 */
    background-color: #27374D;
    color: #fff;
  }

  .dropdown-content a.selected {  /* 드롭다운 내용 링크 선택 스타일 */
    background-color: #526D82;
    color: white;
    margin-bottom: 5px; /* 각 항목 사이의 간격을 조정 */
  }

  .dropdown-content input[type="checkbox"] {  /* 체크박스 숨기기 */
    display: none;
  }

  .selected {
    background-color: #526D82;
    color: white;
  }

 /* 여기까지가 카테고리 부분 */