@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 회원가입 css 시작 */

.container {
    max-width: 400px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    background-color: #526D82;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 26.42px;
    font-family: 'S-CoreDream-6Bold';
  }
  
  .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-family: 'S-CoreDream-6Bold';
    display: block;
    margin-bottom: 5px;
    color: #27374D;
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-join {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    flex-grow: 1; /* 입력 상자가 남은 공간을 균등하게 차지할 수 있도록 함 */
    padding: 8px; /* 내부 여백을 8px로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 15px; /* 테두리를 20px의 둥근 모서리로 지정 */
    background-color: #9DB2BF; /* 배경색을 밝은 회색으로 지정 */
    color: #27374D;
    font-size: 14px; /* 글자 크기를 14px로 지정 */
  }

  ::placeholder {
    color: #DDE6ED; 
  }

  input[type="password"],
  input[type="tel"] {
    width: 72%; 
  }
  
  .button-check {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px 16px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-left: 10px; /* 왼쪽 여백을 10px로 지정 */
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 테두리를 20px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
    font-size: 15px; /* 글자 크기를 14px로 지정 */
  }

  .selectKeywords-button {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px 16px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-left: 10px; /* 왼쪽 여백을 10px로 지정 */
    background-color: #526D82; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 테두리를 20px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
    font-size: 15px; /* 글자 크기를 14px로 지정 */
  }
  
  .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  input[type="radio"] {
    margin-top: 5px;
  }

  
  input[type="submit"] {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px 16px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-left: 10px; /* 왼쪽 여백을 10px로 지정 */
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 테두리를 20px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
    font-size: 18px; /* 글자 크기를 14px로 지정 */
  }

  /* 모달 창 css */

  /* 모달 창 스타일 */
.modal {
  display: none; /* 초기에는 모달 창을 숨김 */
  position: fixed; /* 고정 위치 */
  z-index: 1; /* 다른 요소보다 앞에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 스크롤이 필요한 경우 스크롤바 표시 */
  background-color: rgba(0, 0, 0, 0.4); /* 배경 색상, 투명도 설정 */
}


/* 닫기 버튼 스타일 */
.close {
  color: #aaa; /* 닫기 버튼 색상 */
  float: right; /* 오른쪽에 위치 */
  font-size: 28px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵기 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.close:hover,
.close:focus {
  color: black; /* 마우스 호버 또는 포커스 시 색상 변경 */
  text-decoration: none; /* 밑줄 제거 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}



/* 로그인 css 시작 */

.login-form-group {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 71.92px;
}

label {
  font-family: 'S-CoreDream-6Bold';
  display: block;
  margin-bottom: 5px;
  color: #27374D;
}

.input-login {
  font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
  padding: 8px; /* 내부 여백을 8px로 지정 */
  border: none; /* 테두리 제거 */
  border-radius: 15px; /* 테두리를 20px의 둥근 모서리로 지정 */
  background-color: #9DB2BF; /* 배경색을 밝은 회색으로 지정 */
  color: #27374D;
  font-size: 14px; /* 글자 크기를 14px로 지정 */
  width: 72%;
}
  