/* 구직게시판 css */

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Reset default margin and padding */
body, h1, h2, h6, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color */
  body {
    font-family: 'S-CoreDream-5Medium';
  }
  
  .gallery-container {
    margin-left: auto;
    margin-right: auto;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개씩 배치 */
    width: 1400px;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  
  .gallery-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  
    cursor: pointer;
  
    width: 250px;
    height: 350px;
  }
  
  .image-container {
      width: 250px; /* 원하는 가로 크기 */
      height: 165px; /* 원하는 세로 크기 */
      overflow: hidden; /* 넘치는 부분을 잘라냄 */
  }
  
  .image-container img {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover; 
  }
  
  .gallery-item:hover {
    transform: scale(1.03);
  }
  
  /* .gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  } */
  
  .item-info {
    padding: 15px;
  }
  
  .item-info h6 {
    height: 48px;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 3줄까지 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #333333;
  }
  
  .item-info p {
    color: #9b9ba7;
    font-size: small;
    display: flex;
    /* margin-bottom: 10px; */
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ...으로 표시 */
    font-family: 'S-CoreDream-4Regular';
  }
  
  
  /* 뉴 */
  .item-profile {
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ...으로 표시 */
  }
  
  .price-info-ok {
      white-space: nowrap;
      background-color: #526D82;
      padding: 2px 8px;
      border-radius: 4px;
      font-size: 13px;
      color: #fff;
  
      margin-right: 5px;
  }
  
  .price-info-no {
      white-space: nowrap;
      background-color: #888;
      padding: 2px 8px;
      border-radius: 4px;
      font-size: 13px;
      color: #fff;
  
      margin-right: 5px;
  }
  
  .fa-circle {
      color: red; /* 아이콘 색상을 빨간색으로 설정 */
      font-size: 11px;
  }
  
  .square-icon {
      color: #333333; /* 아이콘 색상 설정 */
      font-size: 11px; /* 아이콘 크기 설정 */
  }
  
  /* ... 이전 CSS 코드 ... */
  
  .item-details {
    padding: 15px 0px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rating {
    display: flex;
    float: right;
    align-items: center;
    font-size: 14px;
    color: #f39c12;
  }
  
  .review-count {
    margin-left: 5px;
    color: #888;
    font-size: 0.8rem;
  }
  
  .price {
    font-family: 'S-CoreDream-6Bold';
    color: #333333;
    display: flex;
    align-items: center;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ...으로 표시 */
  }
  
  .price i {
    margin-right: 2px;
  }
  
  
  .item-keywords {
    margin-top: 10px;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ...으로 표시 */
  }
  
  .keyword {
    display: inline-block;
    background-color: #e8e8e8;
    color: #526d82;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 11px;
    white-space: nowrap; /* 줄바꿈 방지 */
  }
  
  /* 여기까지가 구직게시판 css */