@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
body {
    display: flex; /* Flexbox를 사용하여 요소를 수평으로 정렬 */
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    align-items: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    justify-content: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    height: 100vh; /* 뷰포트의 100% 높이를 설정하여 화면에 꽉 차도록 함 */
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    background-color: #8BBCCC; /* 배경색을 밝은 회색으로 지정 */
}

.vp-header {
    font-family: 'S-CoreDream-4Regular';
    padding: 1px;
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    text-align: center; /* 가운데 정렬 */
    font-size: 12px;
    margin-bottom: 10px;
    border-top-left-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
    border-top-right-radius: 10px;
}

li {
    list-style: none; 
}

.title {
    font-family: 'S-CoreDream-5Medium';
    background: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    width: 405px;
    height: 25px;
    font-size: 18px;
    flex-grow: 1; /* 입력 상자가 남은 공간을 균등하게 차지할 수 있도록 함 */
}

.title::placeholder {
    color: #526D82;
}

.warning {
    font-size: 12px;
    font-family: 'S-CoreDream-4Regular';
}

.estcal-container {
    width: 450px; /* 화면 컨테이너의 너비를 450px로 지정 */
    height: 526px; /* 화면 컨테이너의 높이를 526px로 지정 */
    border-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    background-color: #fff; /* 배경색을 흰색으로 지정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: auto;
    padding: 7px;
    border-spacing: 10px 5px;
}

.table1-container {
    min-height: 190px;
}

.hr0 {
    height: 1px;
    color: #577D86;
    background-color: #577D86;
    width: 95%;
}

.td3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.upload-button {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px 16px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-left: 10px; /* 왼쪽 여백을 10px로 지정 */
    background-color: #577D86; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 테두리를 20px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
    font-size: 15px; /* 글자 크기를 14px로 지정 */
}

input[type=file]::file-selector-button {
    width: 100px;
    height: 30px;
    font-family: 'S-CoreDream-5Medium';
    color: #fff;
    background: #569DAA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.input-box1 {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px; /* 내부 여백을 8px로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 20px; /* 테두리를 20px의 둥근 모서리로 지정 */
    background-color: #DDE6ED; /* 배경색을 밝은 회색으로 지정 */
    font-size: 20px; /* 글자 크기를 14px로 지정 */
    width: 100px;
}

.keywords {
    font-family: 'S-CoreDream-4Regular'; /* 폰트 지정 */
    font-weight: bold;
    font-size: 20px;
    padding: 0; /* 내부 여백 제거 */
    color: #526D82;
    background-color: transparent; /* 배경색을 투명하게 설정 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
    font-size: 16px; /* 글자 크기를 16px로 지정 */
    text-decoration: underline;
    margin-left:20px;
}

.keywords:hover {
    color: #569DAA;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.finish-button {
    width: 100px;
    height: 30px;
    font-family: 'S-CoreDream-5Medium';
    color: #fff;
    background-color: #526D82;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.finish-button:hover {
    background-color: #27374D;
}



/* 파일 다운로드 버튼 스타일 */

/* #downloadButton {
    text-align: center;
    margin: 0 auto;
    background-color: #569DAA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    font-family: 'S-CoreDream-5Medium';
}

#downloadButton i {
    margin-right: 5px;
}

#downloadButton:hover {
    background-color: #27374D;
} */

#downloadButton {
    width: 400px;
    background-color: #f0f0f0;
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
    color: #27374D;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ...으로 표시 */
}

