@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

/* 거래내역 부분 */

.upload {
    max-width: 1000px;

    margin-right: auto;
    margin-left: auto;

    margin-top: 80px;
    margin-bottom: 80px;

    padding: 20px;
    /* background-color: #f4f4f4; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.upload table {
    width: 100%;
    border-collapse: collapse;
}

.upload table td {
    padding: 10px;
}

.upload table tr {
    border:  2.2px solid #9DB2BF;
    width: 110px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.rounded-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

  .rounded-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nickname {
    font-family: 'S-CoreDream-5Medium';
    font-size: 14px;
    margin-top: 5px;
    color: #27374D;
    text-align: center;
    margin-left: 15px;
}

.tableB td {
    font-family: 'S-CoreDream-5Medium';
    text-align: center;
}

  .tableB tr:first-child {
    height: 40px;
    background-color: #9DB2BF;
    color: #fff;
    border-bottom: none;
  }
  
  

.tableB td:first-child {
    width: 180px;
  }

  .tableB td:last-child {
    width: 250px;
  }

  .upload table button {
    font-family: 'S-CoreDream-5Medium';
    padding: 10px 20px;
    background-color: #526D82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.upload table button:hover {
    background-color: #569DAA;
}

.tdP:hover {
    background-color: #f0f4f7;
 }


.deal {
    font-family: 'S-CoreDream-4Regular';
}

.state {
    font-family: 'S-CoreDream-4Regular';
    text-align: center;
}

.stateA {
    font-family: 'S-CoreDream-4Regular';
    text-align: center;
    background-color: #DDE6ED;
}


  
  /* 여기까지가 구인글 작성 부분 */

