@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex; /* Flexbox를 사용하여 요소를 수평으로 정렬 */
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    align-items: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    justify-content: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    height: 100vh; /* 뷰포트의 100% 높이를 설정하여 화면에 꽉 차도록 함 */
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    background-color: #8BBCCC; /* 배경색을 밝은 회색으로 지정 */
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #526D82;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  }
  
  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: 'S-CoreDream-6Bold';
  }
  
  .content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 65px;
  }
  
  label {
    font-family: 'S-CoreDream-6Bold';
    display: block;
    margin-bottom: 5px;
    color: #27374D;
  }
  
  .input-group {
    display: flex;
    align-items: center;

    margin-top: 13px;
    
  }
  
  .input-join-nn {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px; /* 내부 여백을 8px로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 15px; /* 테두리를 20px의 둥근 모서리로 지정 */
    background-color: #9DB2BF; /* 배경색을 밝은 회색으로 지정 */
    color: #27374D;
    font-size: 14px; /* 글자 크기를 14px로 지정 */
    width: 250px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  

  .button-check {
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 8px 16px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    border-radius: 10px; /* 테두리를 10px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
    font-size: 14px; /* 글자 크기를 15px로 지정 */
    width: 100px;
  }

  .button-check:hover {
    background-color: #569DAA;
  }