@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex; /* Flexbox를 사용하여 요소를 수평으로 정렬 */
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    align-items: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    justify-content: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    height: 100vh; /* 뷰포트의 100% 높이를 설정하여 화면에 꽉 차도록 함 */
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    background-color: #8BBCCC; /* 배경색을 밝은 회색으로 지정 */
  }

  .container {
        width: 470px; /* 결제화면 컨테이너의 너비를 450px로 지정 */
        height: 470px; /* 결제화면 컨테이너의 높이를 580px로 지정 */
        border-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
        background-color: #fff; /* 배경색을 흰색으로 지정 */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
        margin: 40px auto;
        text-align: center;

        
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }

  .header {
        border-top-left-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
        border-top-right-radius: 10px;
        padding: 10px; /* 내부 여백을 10px로 지정 */
        background-color: #27374D; /* 배경색을 파란색으로 지정 */
        color: #fff; /* 글자색을 흰색으로 지정 */
        font-size: 18px; /* 글자 크기를 18px로 지정 */
        font-weight: bold; /* 글자 굵기를 bold로 지정 */
        text-align: center; /* 가운데 정렬 */
   }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    /* margin-top: 15px;
    margin-bottom: 5px; */
    color: #27374D;
    font-family: 'S-CoreDream-6Bold';
  }

  select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }


  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 10px 18px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px; /* 테두리를 10px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
  }

  .btn:hover {
    background-color: #569DAA;
  }




.upload {
    max-width: 1000px;
   
    padding: 10px;
    /* background-color: #f4f4f4; */
 
}


.upload table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.upload table td {
    padding: 10px;
    
}

.upload table tr {
    border:  2.2px solid #9DB2BF;
    width: 110px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.upload table td label {
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
    color: #27374D;
}

.upload table input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #DDE6ED;
    color: #27374D;
    font-family: 'S-CoreDream-5Medium';
    font-size: 14px;
}

.upload table button {
    font-family: 'S-CoreDream-5Medium';
    padding: 10px 20px;
    background-color: #526D82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.upload table button:hover {
    background-color: #27374D;
}

.upload .submit-button {
    font-family: 'S-CoreDream-5Medium';
    padding: 6px 24px;
    background-color: #526D82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px; 
    height: 40px;
    margin-top : 20px;
}

.upload .submit-button:hover {
    background-color: #27374D;
}


  .upload ::placeholder {
    color: #526D82; 
    text-align: center;
    padding-top: 50px;
  }

  .upload label {
    text-align: center;
  }

  .tableB tr {
    height: 80px;
  }

  .tdP {
      width: 80px;
  }


  .td3 {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 450px;
  }

  .upload-button1 {
    font-family: 'S-CoreDream-5Medium'; 
    padding: 8px 16px; 
    margin-left: 10px; 
    background-color: #577D86; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 15px;
  }


  .tableA {
    margin-left:auto;
    margin-right:auto;
    padding: 7px;
    border-spacing: 10px 5px;
  }
  
  .tableA td {
    list-style: none;
    text-align: center;
  }
  
  .warning {
    font-size: 9px;
    font-family: 'S-CoreDream-4Regular';
  }


.table3 table tr {
    list-style: none;
}

.Submitbutton {
    text-align: center;
}

.selectKeywords-button {
  font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
  padding: 8px 16px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
  margin-left: 10px; /* 왼쪽 여백을 10px로 지정 */
  background-color: #526D82; /* 배경색을 파란색으로 지정 */
  color: #fff; /* 글자색을 흰색으로 지정 */
  border: none; /* 테두리 제거 */
  border-radius: 10px; /* 테두리를 20px의 둥근 모서리로 지정 */
  cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
  font-size: 15px; /* 글자 크기를 14px로 지정 */
}





.radio-container {
    display: flex;
    align-items: center;
    
}

.radio-container label {
    margin-right: 10px; /* Adjust the spacing between radio buttons and labels */
}

/*현재 의뢰 가능 여부 체크박스 부분*/
.option-container {
    display: flex;
    font-family: 'S-CoreDream-5Medium';
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
    gap: 5px; /* 글자 사이 간격을 조정합니다. */
    font-size: 16px; /* 글자 크기를 조정합니다. */
    color: #526D82;
}

.checkbox-label {
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #27374D;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #569DAA;
    border: 2px solid  #27374D;
}
/*여기까지*/