@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    display: flex; /* Flexbox를 사용하여 요소를 수평으로 정렬 */
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    align-items: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    justify-content: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    height: 100vh; /* 뷰포트의 100% 높이를 설정하여 화면에 꽉 차도록 함 */
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    background-color: #8BBCCC; /* 배경색을 밝은 회색으로 지정 */
  }
  
  li {
    list-style: none; 
    font-size: 19px;
    font-family: 'S-CoreDream-6Bold';
    color: #fff;
  }
  
  .chat-container {
    width: 400px; /* 채팅 컨테이너의 너비를 400px로 지정 */
    height: 660px; /* 채팅 컨테이너의 높이를 600px로 지정 */
    border-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    background-color: #fff; /* 배경색을 흰색으로 지정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  }
  
  .chat-header {
    padding: 10px; /* 내부 여백을 10px로 지정 */
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    font-size: 18px; /* 글자 크기를 18px로 지정 */
    font-weight: bold; /* 글자 굵기를 bold로 지정 */
    text-align: center; /* 가운데 정렬 */
  }
  
  .receiver-profile {
    padding: 5px;
    background-color: #526D82;
  }
  
  .circle {
    width: 60px; /* 원형 이미지를 감싸는 <div> 요소의 가로 크기 */
    height: 60px; /* 원형 이미지를 감싸는 <div> 요소의 세로 크기 */
    border-radius: 50%; /* 원형 이미지를 만들기 위해 50%의 border-radius 값을 설정 */
    overflow: hidden; /* 이미지가 원형 경계를 넘어가지 않도록 설정 */
    margin-left: 20px;
  }
  
  .circle img {
    width: 100%; /* 원형 이미지의 가로 크기를 부모 요소에 맞게 확대/축소 */
    height: auto; /* 이미지의 세로 크기를 가로 크기에 맞게 자동으로 조정 */
  }
  
  .chat-messages {
    height: 450px; /* 채팅 메시지 영역의 높이를 450px로 지정 */
    overflow-y: scroll; /* 채팅 메시지 내용이 넘칠 경우 스크롤을 표시 */
    padding: 10px; /* 내부 여백을 10px로 지정 */
  }
  
  .message {
    margin-bottom: 10px; /* 메시지 간의 아래쪽 여백을 10px로 지정 */
  }
  
  .receiver-message {
    width: 180px; /* 메세지 박스 크기(차후 크기 동적 조절 가능하도록)*/
    background-color: #526D82; /* 수신자 메시지의 배경색을 밝은 회색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    padding: 10px; /* 내부 여백을 10px로 지정 */
    border-radius: 10px; /* 테두리를 10px의 둥근 모서리로 지정 */
    float: left; /* 자신을 왼쪽에 정렬하여 수신자 메시지 표시 */
  }
  
  .input-container {
    display: flex; /* Flexbox를 사용하여 요소를 수평으로 정렬 */
    align-items: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    padding: 10px; /* 내부 여백을 10px로 지정 */
    background-color: #fff; /* 배경색을 흰색으로 지정 */
  }
  
  .warning {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    font-family: 'S-CoreDream-4Regular';
    color: #526D82;
  }