@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex; /* Flexbox를 사용하여 요소를 수평으로 정렬 */
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    align-items: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    justify-content: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    height: 100vh; /* 뷰포트의 100% 높이를 설정하여 화면에 꽉 차도록 함 */
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    background-color: #8BBCCC; /* 배경색을 밝은 회색으로 지정 */
  }

  .container {
        width: 500px; /* 결제화면 컨테이너의 너비를 450px로 지정 */
        height: 370px; /* 결제화면 컨테이너의 높이를 580px로 지정 */
        border-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
        background-color: #fff; /* 배경색을 흰색으로 지정 */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
        margin: 40px auto;
        text-align: center;
   }

  .header {
        border-top-left-radius: 10px; /* 테두리의 모서리를 10px의 둥근 모서리로 지정 */
        border-top-right-radius: 10px;
        padding: 10px; /* 내부 여백을 10px로 지정 */
        background-color: #27374D; /* 배경색을 파란색으로 지정 */
        color: #fff; /* 글자색을 흰색으로 지정 */
        font-size: 18px; /* 글자 크기를 18px로 지정 */
        font-weight: bold; /* 글자 굵기를 bold로 지정 */
        text-align: center; /* 가운데 정렬 */
   }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #27374D;
    font-family: 'S-CoreDream-6Bold';
  }

  select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }


  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'S-CoreDream-5Medium'; /* 폰트 지정 */
    padding: 10px 18px; /* 내부 여백을 위아래 8px, 좌우 16px로 지정 */
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #27374D; /* 배경색을 파란색으로 지정 */
    color: #fff; /* 글자색을 흰색으로 지정 */
    border: none; /* 테두리 제거 */
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px; /* 테두리를 10px의 둥근 모서리로 지정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼임을 나타냄 */
  }

  .btn:hover {
    background-color: #569DAA;
  }

  /* 스타일 설정 */
  .container1 {
    width: 400px;
    height: 180px;
    background-color: #9DB2BF;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
  }

  

  .container2 {
    width: 400px;
    background-color: #9DB2BF;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    margin-left: auto;
    margin-right: auto;
  }

  .container3 {
    width: 400px;
    background-color: #9DB2BF;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    margin-left: auto;
    margin-right: auto;
  }

  .checkbox2 label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    color: #526D82;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .checkbox3 label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    color: #526D82;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }



  .checkbox {
    width: 18%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input[type="checkbox"] {
    display: none;
  }

  .checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 13px;
    background-color: #f2f2f2;
    color: #526D82;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="checkbox"]:checked + label {
    background-color: #27374D;
    color: #ffffff;
  }


  .title {
    width: 80%;
    text-align: center;
    font-size: 19px;
    background-color: #526D82;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: 'S-CoreDream-6Bold';
  }

  .tit {
    color: #fff;
  }

.hr0 {
    height: 1px;
    margin: 20px;
    color: #27374D;
    background-color: #27374D;
}