<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현재 겟보이스는</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/23.0_GV-F-CurrGV-23.0.css}">
</head>
<body>
    <div class="box-container">
        <div class="header">현재 겟보이스는</div>
        <div class="container">
            <div class="info-and-graph">
                <h3>최고 인기 키워드 Top3</h3>
                <ul>
                    <li>
                        <span class="label">1위</span>
                        <span class="value">차분한</span>
                    </li>
                    <li>
                        <span class="label">2위</span>
                        <span class="value">활기찬</span>
                    </li>
                    <li>
                        <span class="label">3위</span>
                        <span class="value">열혈</span>
                    </li>
                </ul>
            </div>
            <div class="bar-chart">
                <div class="bar" style="height: 156px;"><span class="bar-name">차분한</span></div>
                <div class="bar" style="height: 100px;"><span class="bar-name">활기찬</span></div>
                <div class="bar" style="height: 50px;"><span class="bar-name">열혈</span></div>
                <div class="x-axis"></div>
                <div class="y-axis"></div>
                <div class="axis-label x-label"></div>
                <div class="axis-label y-label"></div>
            </div>

            <div class="info-and-graph_1">
                <h2>가격 정보</h2>
                <ul>
                    <li>
                        <span class="label">평균 가격</span>
                        <span class="value">50원</span>
                    </li>
                    <li>
                        <span class="label">최고 가격</span>
                        <span class="value">78원</span>
                    </li>
                    <li>
                        <span class="label">최저 가격</span>
                        <span class="value">25원</span>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="hr0">

        <div class="container">
            <div class="info-and-graph">
                <h3>최고 인기 카테고리(서비스유형) Top3</h3>
                <ul>
                    <li>
                        <span class="label">1위</span>
                        <span class="value">더빙</span>
                    </li>
                    <li>
                        <span class="label">2위</span>
                        <span class="value">내레이션</span>
                    </li>
                    <li>
                        <span class="label">3위</span>
                        <span class="value">광고</span>
                    </li>
                </ul>
            </div>
            <div class="bar-chart">
                <div class="bar" style="height: 120px;"><span class="bar-name">더빙</span></div>
                <div class="bar" style="height: 48px;"><span class="bar-name">내레이션</span></div>
                <div class="bar" style="height: 11px;"><span class="bar-name">광고</span></div>
                <div class="x-axis"></div>
                <div class="y-axis"></div>
                <div class="axis-label x-label"></div>
                <div class="axis-label y-label"></div>
            </div>
            <div class="info-and-graph_1">
                <h2>요청 문자 수</h2>
                <ul>
                    <li>
                        <span class="label">평균 글자수</span>
                        <span class="value">4,800자</span>
                    </li>
                    <li>
                        <span class="label">최고 글자수</span>
                        <span class="value">12,000자</span>
                    </li>
                    <li>
                        <span class="label">최저 글자수</span>
                        <span class="value">110자</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
</body>
</html>
