<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>겟보이스</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/10.4_GV-F-Review-10.4.css}">
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script> 
    </head>

    <body>
        <!-- 리뷰 글 보기 -->
        <div class="container">
            <span class="close">&times;</span>
            <div class="header">리뷰</div>
            <form name="fo" method="get">   
                <div class="upload">
                    <form name="fo" method="get">
   
                        <table class="tableB">
                            <!-- 거래내역1 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">닉네일
                                            
                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.12.03</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    샘플에서 들었던 톤만큼 너무 감미로운 목소리로 불러주셨어요.<br>생각한 최고의 작업을 해주셨네요.
                                </td>
                                
                              </tr>

                              <!-- 거래내역2 -->
                              <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex2.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">닉네이 
                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.10.20</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    부탁드린 내용을 철저하게 준수해주셨습니다!<br>그리고 말씀드리지 않았는데도 작업에 편리하도록 디테일한 배려가 엿보여 작업하면서 정말 감사했습니다. 까다로운 역할과 디렉션을 텍스트로만 안내드렸는데 프로다운 결과물을 주신 점 또한 정말 좋았어요.
                                </td>
                              </tr>

                            <!-- 거래내역3 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex3.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">닉네삼

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <div class="star-rating-empty"></div>

                                                <div class="date">&nbsp;| 2023.08.25</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    목소리도 좋으시고, 친절하시고, 작업도 빨리 해주셨어요. 대만족입니다
                                </td>
            
                              </tr>

                              <!-- 거래내역4 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex4.jpg" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">닉네사

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.07.18</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    친절하고 정확한 작품 감사드려요.<br>좋은 일 가득하시고 행복하시길
                                </td>
            
                              </tr>

                            <!-- 거래내역5 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">닉네오

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div>

                                                <div class="date">&nbsp;| 2023.05.12</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    조금 아쉬운 부분도 있지만 전반적으로 괜찮습니다
                                </td>
                                
                              </tr>

                              <!-- 거래내역6 -->
                            <tr>
                                <td class="tdP">
                                    <div class="rounded-profile-container">
                                        <img src="/img/profile_ex5.png" alt="Profile Image" class="rounded-profile">
                                        <div class="nickname">닉네육

                                            <div class="user-rating"> 
                                                <!-- 꽉찬 별 -->
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <div class="star-rating"></div>
                                                <!-- 비어있는 별 -->
                                                <!-- <div class="star-rating-empty"></div>
                                                <div class="star-rating-empty"></div> -->

                                                <div class="date">&nbsp;| 2023.03.07</div>
                                              </div>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    빠르고 친절한 답변과, 빠르고 정확한 업무진행에 감동먹었습니다..!<br>긴 원고였는데도 집중할 수 있는 포인트로 지루하지않은 내레이션이었습니다.
                                </td>
                                
                              </tr>
                        </table>
                    </form>
                </div>
                
             </form>   <!-- 여기까지가 구인글 작성 부분 -->
    
        </div> 
        

        <footer>
        </footer>
    </body>
    <script src="/js/modal_window.js"></script>
    <script src="/js/1.2_dropdown.js"></script>
</html>




  

