<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>음성샘플파일_업로드</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/11.2_GV-F-VP-AudioUpload-11.2.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

<body>
    <div class="estcal-container">
        <div class="vp-header">
            <h2><i class="fas fa-volume-up"></i> 음성샘플파일 업로드/수정</h2>
        </div>
        <div class="table1-container">
            <table class="table1">
                <tr>
                    <td class="td3"><input id="fileInput" class="upload-button" type="file" value="올리기"/></td>
                </tr>
                <tr>
                    <td class="td3"><li class="warning">※ 음원파일은 wav/mp3 파일만 업로드 가능합니다.</li></td>
                </tr>

                <tr>
                    <td class="td3">
                        <!-- 파일 다운로드 버튼 -->
                        <button id="downloadButton"></button>
                    </td>
                </tr>

            </table>
        </div>
        <hr class="hr0"/>
        <input type="text" for="title" id="title" name="title" class="title" placeholder="제목을 입력하세요" required>
        <hr class="hr0"/>
        <button class="keywords" onclick="showpopup_select()">키워드 선택 ▶</button>
        <hr class="hr0"/>
        <div class="bottom">
            <button type="button" id="submitBtn" class="finish-button">완료</button>
        </div>
    </div>
</body>
<script src="/js/11.2_11.3_clean-checkbox.js"></script>
<script src="/js/11.2_popup-script.js"></script>
</html>